.container__image{
  background-image: url(https://picsum.photos/1000/1000);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 50px;
  text-align: center;
  font-size: 1.5rem;
  margin: 50px;
  border-radius: 10px;


}